# محیط مجازی
venv/

# پوشه دانلودها
downloads/

# فایل‌های حساس و کلیدها
.env
config.json
*.key
*.pem
*.crt

# کش و فایل‌های موقت پایتون
__pycache__/
*.pyc
*.pyo
*.pyd

# فایل‌های IDE مثل VSCode و PyCharm
.vscode/
.idea/

# فایل‌های سیستمی
.DS_Store
Thumbs.db
